.headerWrapper {
  margin: 0 auto;
  width: 70%;
}

.headerWrapper h1 {
  text-align: center;
}

.navWrapper {
  margin: 0 auto;
  width: 35%;
}

.navWrapper ul li{
  display:inline-block;
  padding: 10px 1em;
  background-color: aqua;
  border: 1px solid darkgray;
}

.navWrapper ul li:hover {
  background-color: blue;
}